<!DOCTYPE html>
<html lang="en">
<head>
    <title>Archict</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        body {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: {{ background }};
        }
        h1 {
            font-size: 3em;
        }
    </style>
</head>
<body>
<h1>Welcome to Archict!</h1>
</body>
</html>